{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1>row: {{row}}</h1>
<h1>col: {{col}}</h1>
<h1>bomb: {{bomb}}</h1>

<div class="grid-container" >
{% for i in user_map %}
    <div row-num = {{ forloop.counter0 }} class="grid-row">
        {% for j in i %}
            <div col-num = {{ forloop.counter0 }} class="grid-cell">{{ j }}</div>
        {% endfor %}
    </div>
{% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static './index.js' %}"></script>

{% endblock %}